body{
    background-color: #252633;
}

.HeroContainer{
    width: 100%;
    height: 800px;
    background-image: url("C:\Users\fande\OneDrive\Bureau\Project-Marvel\Project-Marvel-main\src\assets\hero-avsx.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.HeroContainer > div {
    color:darkviolet;
    text-shadow: 3px 3px black;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Metal Mania', cursive;
}


